<!DOCTYPE html>
<html>
  <body>
    <p>Hello <%= user.email %>,</p>
    <p>We received a request to reset your Modini Apps password.</p>
    <p>Click the link below to reset your password. This link will expire in 1 hour.</p>
    <p><a href="<%= resetUrl %>">Reset your password</a></p>
    <p>Or copy and paste this URL into your browser:</p>
    <p><%= resetUrl %></p>
    <p>If you didn't request a password reset, you can safely ignore this email. Your password will not be changed.</p>
    <p>Thanks,<br />The Modini Apps team</p>
  </body>
</html>
