<!DOCTYPE html>
<html>
  <body>
    <p>Hello <%= user.email %>,</p>
    <p>Thank you for registering for Modini Apps.</p>
    <p>Your account is pending approval by an administrator. We'll send you another email once your access has been granted.</p>
    <p>If you believe this message is in error, please contact your Modini Apps administrator.</p>
    <p>Thanks,<br />The Modini Apps team</p>
  </body>
</html>
